.containAll{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.greetMember{
    width: 1000px;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: start;

    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    color: #666666;
}

.bookingInfo{
    width: 1000px;
    display: flex;
    font-weight: 400;
    font-size: 16px;
    color: #666666;
}

.bookImg{
    width:280px;
    aspect-ratio: 4/3;
}



.attractionTextInfo{
    margin-left: 20px;
}

#attractionName{
    color: #448899;
    margin-bottom: 25px;
}

.attractionTextInfo > div {
    margin-bottom: 13px;
    font-weight: 700;
    font-size: 16px;
    color: #666666;
}

.attractionTextInfo > div > span {
    font-weight: 400;
}

.deleteIcon{
    display: flex;
    flex: auto;
    align-items: baseline;
    justify-content: flex-end;
}
.deleteIcon > img{
    cursor: pointer;
}


.seperator{
    width: 1000px;
    border-top: 1px solid #E8E8E8;
    margin-top: 40px;
    margin-bottom: 40px;
}

.seperator-3{
    width: 1000px;
    border-top: 1px solid #E8E8E8;
    margin-top: 40px;
    margin-bottom: 40px;
}

.userContactInfo{
    width:1000px
}
.userContactInfo > form{
    display: inline;
}

.contactInfo-header{
    font-weight: 700;
    font-size: 19px;
    color: #666666;

    margin-bottom: 25px;
}

.userInputInfo{
    border-radius: 5px;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    text-indent: 10px;

    width: 200px;
    height: 38px;
}

.yourName{
    font-weight: 400;
    font-size: 16px;
    color: #666666;
    margin-bottom: 25px;
}
.yourMail{
    font-weight: 400;
    font-size: 16px;
    color: #666666;
    margin-bottom: 25px;
}
.yourPhone{
    font-weight: 400;
    font-size: 16px;
    color: #666666;
    margin-bottom: 25px;
}

.cautionInfo{
    font-weight: 700;
    font-size: 16px;
    color: #666666;
}


@media(max-width:1230px){
    .bookingInfo{
        width: 620px;
    }
    .greetMember{
        width: 620px;
    }
    .userContactInfo{
        width: 630px;
    }
    .seperator{
        width: 90%;
    }
    .formWidth{
        width:630px;
    }


}

@media(max-width:680px){
    .bookingInfo{
        width: 350px;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .greetMember{
        width: 350px;
    }
    .userContactInfo{
        width: 350px;
    }
    .bookImg{
        width: 330px;
    }
    footer{
        position: relative;
    }
}

.formWidth{
    width:1000px;
    display:inline-block;
}

.formWidth > form{
    display: inline;
}
.payform {
    display: flex;
    width:100%;
    flex-direction: column;
    align-items: flex-start;
}


.test{
    display: flex;
    flex-direction: column;
    /*width: 1000px;*/
}

.unflex{
    width:100%;
}

.btn{
    width: 173px;
    background: #448899;
    border-radius: 5px;
    color:white;
    padding: 10px 20px;
    border:none;
}
.form-group{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 16px;
    color: #666666;
    margin-bottom: 30px;
}
.form-control{
    border-radius: 5px;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    text-indent: 10px;

    width: 200px;
    height: 38px;
}
.finalPrice-1{
    display: flex;
    /*width: 1200px;*/
    flex-direction: column;
    align-items: flex-end;
    /*border-top: 1px solid #E8E8E8;*/
    /*margin-top: 40px;*/
    padding-top: 35px;
}
.finalPrice-1 > div{
    font-weight: 700;
    font-size: 16px;
    color: #666666;
    margin-bottom: 25px;

}

.tappay-field-focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}
.has-error .tappay-field-focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}
.has-success .tappay-field-focus {
    border-color: #2b542c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
}