
*, *::after, *::before {
    box-sizing: border-box;
  }

.modal{
    position: fixed;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 6px;
    z-index: 10;
    background-color: white;
    width: 340px;
    height: 300px;
}

.modal.active{
    transform: translate(-50%, -50%) scale(1);
}

.modal-header{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 30%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    border-top: 10px solid darkcyan;
}

.modal-header .title{
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #666666;;

}

.modal-header .close-button{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 30px;
    color:  darkcyan;
}

#overlay{
    position: fixed;
    opacity:0;
    transition: 200ms ease-in-out; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active{
    opacity: 1;
    pointer-events: all;
    z-index: 2;
}
.modal-body{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.signform{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signform > input{
  width: 300px;
  height: 45px;
  padding: 15px;
  margin-bottom: 10px;
}
.signform > button{
  width: 300px;
  height: 45px;
  color: #FFFFFF;
  background: #448899;
  border: none;
  border-radius: 5px;
}

.modal-body> div{
  display: inline;
  margin-top: 9px;
  font-size: 16px;
  color: #666666;
  cursor: pointer;
}
 /* 
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
  }
  
  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
  }
  
  .modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-body {
    padding: 10px 15px;
  }
  
  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  }
  
  #overlay.active {
    opacity: 1;
    pointer-events: all;
    z-index: 8;
  }*/

  .modal-signup{
    position: fixed;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border: 1px solid black;
    border-radius: 6px;
    z-index: 10;
    background-color: white;
    width: 340px;
    height: 350px;
}

.modal-signup.active{
    transform: translate(-50%, -50%) scale(1);
}

.modal-signup-header{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 30%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    border-top: 10px solid darkcyan;
}

.modal-signup-header .title{
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #666666;;

}

.modal-signup-header .close-button{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 30px;
    color:  darkcyan;
}

.modal-signup-body{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.modal-signup-body> div{
  display: inline;
  margin-top: 13px;
  font-size: 16px;
  color: #666666;
  cursor: pointer;
}