<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type="text/css" href="../static/css/index.css">
    <link rel= "stylesheet" type="text/css" href="../static/css/sign.css">
    <script defer src="../static/javascript/sign.js"></script>
    <title>台北一日遊</title>
</head>
<body style="margin: 0;">
    <div class="top">
        <div class = "frame">
            <div class = "left"><a href="/" class="link">台北一日遊</a></div>
            <div class = "right">
                <button class = "booking-btn" id="booking" onclick="bookingTop()">預定行程</button>
                <button data-modal-target="#modal" class = "signin-btn" id="login">登入/註冊</button>
                <button id="logout" class="logout-btn" onclick="logout()">登出系統</button>
            </div>           
        </div>
    </div>


    
    <div class="modal" id="modal" data-sign>
        <div class="modal-header">
            <div class="title">登入會員帳號</div>
            <button data-close-button class="close-button">&times;</button>
        </div>
        <div class="modal-body">
            <form class="signform" id="signin">
                <input type="text" name="email" id="email-1" placeholder="輸入電子信箱" required>
                <input type="password" name="password" id="password-1" placeholder="輸入密碼" required>
                <button onclick="memberSignin();return false;">登入帳戶</button>
            </form>
            <div id="status"></div>
            <div id="signUp" data-modal-target="#modal-signup">還沒有帳戶？點此註冊</div>
        </div>      
    </div>
    

    <div class="modal-signup" id="modal-signup" data-sign>
        <div class="modal-signup-header">
            <div class="title">註冊會員帳號</div>
            <button data-close-button class="close-button">&times;</button>
        </div>
        <div class="modal-signup-body">
            <form class="signform" id="signup">
                <input type="text" name="name" id="name-2" placeholder="輸入姓名" required>
                <input type="text" name="email" id="email-2" placeholder="輸入電子信箱" required>
                <input type="password" name="password" id="password-2" placeholder="輸入密碼" required>
                <button onclick="memberSignUp();return false;">註冊帳戶</button>
            </form>
            <div id="status-2"></div>
            <div data-modal-target="#modal">已經有帳戶了？點此登入</div>
            
        </div>      
    </div>

    <div id="overlay"></div>

    

   


    <div class="middle">
        <div class="slogan">  
            <div class = "welcomeleft">
                <div class = "text1">輕鬆享受台北一日悠閒</div>
                <div class = "text2">探索每一個角落，體驗城市的深度旅遊行程</div>
                <div class = "keywordsearch">
                    <form class="form">
                        <input  class="search" type="text" id="abc" name="abc" placeholder="輸入景點名稱查詢" required>
                        <button class="littleSearchIcon" onclick="getKeyword();return false;" ><img src="../static/image/icon_search.png" /></button>
                    </form>
                </div>
            </div>
            <div class ="rr"><img class="welcomeRight" src="../static/image/welcome 1.png"></div>  
        </div>
    </div>


    <div class= "bigContainer" id="attractions"></div>

    <script src="../static/javascript/index.js"> </script>
    


</body>
</html>