<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type="text/css" href="../static/index.css">
    <link rel= "stylesheet" type="text/css" href="../static/sign.css">
    <script defer src="../static/sign.js"></script>
    <title>台北一日遊</title>
</head>
<body style="margin: 0;">
    <div class="top">
        <div class = "frame">
            <div class = "left"><a href="/" class="link">台北一日遊</a></div>
            <div class = "right">
                <button class = "item">預定行程</button>
                <button data-modal-target="#modal" class = "item">登入/註冊</button>
            </div>           
        </div>
    </div>


    
    <div class="modal" id="modal">
        <div class="modal-header">
            <div class="title">登入會員帳號</div>
            <button data-close-button class="close-button">&times;</button>
        </div>
        <div class="modal-body">
            <form>
                <input type="text" placeholder="輸入電子信箱" required>
                <input type="text" placeholder="輸入密碼" required><br>
                <button>登入帳戶</button>
            </form>
            <div>還沒有帳戶？點此註冊</div>
        </div>      
    </div>
    <div id="overlay"></div>

    

   
        
    


    <div class="middle">
        <div class="slogan">  
            <div class = "welcomeleft">
                <div class = "text1">輕鬆享受台北一日悠閒</div>
                <div class = "text2">探索每一個角落，體驗城市的深度旅遊行程</div>
                <div class = "keywordsearch">
                    <form class="form">
                        <input  class="search" type="text" id="abc" name="abc" placeholder="輸入景點名稱查詢" required>
                        <button class="littleSearchIcon" onclick="getKeyword();return false;" ><img src="../static/icon_search.png" /></button>
                    </form>
                </div>
            </div>
            <div class ="rr"><img class="welcomeRight" src="../static/welcome 1.png"></div>  
        </div>
    </div>


    <div class= "bigContainer" id="attractions"></div>

    <script src="../static/index.js"> </script>
    


</body>
</html>