<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type="text/css" href="../static/index.css">
    <title>台北一日遊</title>
</head>
<body>
    <div class="top">
        <div class = "frame">
            <div class = "left"> 台北一日遊</div>
            <div class = "right">
                <div class = "item">預定行程</div>
                <div class = "item">登入/註冊</div>
            </div>           
        </div>
    </div>

    <div class="slogan">
        
        <div class = "welcome">
            <div class = "text1">輕鬆享受台北一日悠閒</div>
            <div class = "text2">探索每一個角落，體驗城市的深度旅遊行程</div>
            <div class = "keywordsearch">
                <form class="form">
                    <input  class="search" type="text" id="abc" name="abc" placeholder="輸入景點名稱查詢" required>
                    <button class="littleSearchIcon" onclick="getKeyword();return false;" ><img src="../static/icon_search.png" /></button>
               </form>
            </div>
        </div>
        <img class="welcome1" src="../static/welcome 1.png">
       
       
    </div>


    <div class= "bigContainer" id="attractions"></div>

    <script src="../static/index.js"> </script>


</body>
</html>